<div class="app">
  <main>
    <svelte:component this={Page} {...props}/>
  </main>

  <footer class="container-fluid">
    <div class="footer-content">
      <div><small>Discourse-Dashboard — Web dashboard displaying data retrieved using <a href="https://www.discourse.org/" target="_blank">Discourse</a> API</small></div>
      <div><small>
        Discourse-Dashboard is free and open source software.
        <a href="https://framagit.org/parlement-ouvert/discourse-dashboard">Contribute!</a>
      </small></div>
    </div>
  </footer>
</div>

<style type="text/scss">
  .app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  main {
    flex-grow: 1;
  }

  footer {
    background-color: #f1f3f4;
    color: rgb(95, 99, 104);
    margin-top: 24px;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  .footer-content {
    text-align: center;
  }
</style>
