<nav class="bg-secondary fixed-top navbar navbar-dark navbar-expand-lg">
  <a class="navbar-brand" href="/" rel="prefetch">{config.title}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Basculer l'affichage de la navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="ml-auto navbar-nav">
      {#each config.pages as pageConfig (pageConfig.slug)}
        {#if pageConfig.slug === slug}
          <li class="nav-item active">
            <a class="nav-link" href="/{pageConfig.slug}" rel="prefetch">{pageConfig.title} <span class="sr-only">(actuel)</span></a>
          </li>
        {:else}
          <li class="nav-item">
            <a class="nav-link" href="/{pageConfig.slug}" rel="prefetch">{pageConfig.title}</a>
          </li>
        {/if}
      {/each}
    </ul>
  </div>
</nav>
<div style="height: 40px;"></div>

<script>
  import config from "../config.js"

  export default {
    helpers: {
      config,
    },
  }
</script>