<article class="card mb-3">
  {#if projectEmbed.avatar_url}
    <img class="card-img-top image" src="{projectEmbed.avatar_url}" alt="logo de la fiche">
  {/if}
  <div class="card-body">
    <h2 class="card-title">
      {#if groupConfig.showId}
        <span class="badge badge-primary">#{projectEmbed.id}</span>
      {/if}
      {projectEmbed.name}
    </h2>
    <p class="card-text">{projectEmbed.description}</p>
    <div class="d-flex justify-content-between">
      <div>
        <span class="d-inline-flex" title="{projectEmbed.star_count} personne(s) aime(nt)">{projectEmbed.star_count} <i class="align-self-center material-icons">star</i></span>
        <span class="d-inline-flex" title="{projectEmbed.forks_count} fork(s)">{projectEmbed.forks_count} <i class="align-self-center material-icons">call_split</i></span>
      </div>
      <a class="card-link" href="{projectEmbed.web_url}">En savoir plus</a>
    </div>
  </div>
</article>

<style type="text/scss">
  .image {
    max-height: 240px;
    object-fit: contain;
  }
</style>

<script>
  import urlResolve from "url-resolve"
  import config from "../config.js"

  export default {
    helpers: {
      backgroundImage: url => `background-image: url('${url}');`,
      config,
      urlResolve,
    },
  }
</script>