<AppBar slug={groupConfig.slug} />
<h1 class="display-4 mb-5 mt-5 text-center">
  {groupConfig.titleLong || groupConfig.title}
</h1>
{#if groupConfig.newProjectButtonTitle}
  <div class="d-flex mb-5 mt-5 justify-content-center">
    <a class="btn btn-lg btn-primary" href="{urlResolve(groupConfig.hostUrl, `/projects/new?namespace_id=${groupConfig.id}`)}" role="button">{groupConfig.newProjectButtonTitle}</a>
  </div>
{/if}
<div class="container-fluid">
  <div class="row">
    {#each group.projects as projectEmbed (projectEmbed.id)}
      <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
        <GitLabProjectCard groupConfig={groupConfig} projectEmbed={projectEmbed} />
      </div>
    {/each}
  </div>
</div>

<script>
  import urlResolve from "url-resolve"
  import AppBar from "../components/AppBar.html"
  import config from "../config.js"
  import GitLabProjectCard from "../components/GitLabProjectCard.html"

  export default {
    components: {
      AppBar,
      GitLabProjectCard,
    },
    helpers: {
      config,
      urlResolve,
    },
  }
</script>