<AppBar slug={null} />
{#if config.banner}
  <!-- Svelte removes background style when rendered on client => use a function to hide the background-image
    attribute.
    <div class="banner" style="background-image: url('{config.banner.backgroundImageUrl}');">
  -->
  <div class="banner" style="{backgroundImage(config.banner.backgroundImageUrl)}">
    <div class="banner-content">
      {#if config.banner.logoUrl}
        <img alt="logo du site" class="banner-logo" src="{config.banner.logoUrl}">
      {/if}
      <div class="display-4 mb-5 mt-5 text-dark">
        Page non trouvée !
      </div>
      <div class="lead">
        {message}
      </div>
    </div>
  </div>
{:else}
  <div class="display-4">
    Page non trouvée !
  </div>
  <div class="lead">
    {message}
  </div>
{/if}

<style type="text/scss">
  .banner {
    align-items: center;
    background-size: cover;
    display: flex;
    height: 100vh;
    justify-content: center;
  }

  .banner-content {
    text-align: center;
  }

  .banner-logo {
    max-width: 100%;
  }
</style>

<script>
  import AppBar from "../components/AppBar.html"
  import config from "../config.js"

  export default {
    components: {
      AppBar,
    },
    helpers: {
      backgroundImage: url => `background-image: url('${url}');`,
      config,
    },
  }
</script>