<article class="card mb-3">
  {#if topicEmbed.image_url}
    <img class="card-img-top image" src="{topicEmbed.image_url}" alt="logo de la fiche">
  {/if}
  <div class="card-body">
    <h2 class="card-title">
      {#if categoryConfig.showId}
        <span class="badge badge-primary">#{topicEmbed.id}</span>
      {/if}
      {topicEmbed.title}
    </h2>
    <p class="card-text">{@html topicEmbed.excerpt}</p>
    <div class="d-flex justify-content-between">
      <div>
        <span class="d-inline-flex" title="{topicEmbed.like_count} personne(s) aime(nt)">{topicEmbed.like_count} <i class="align-self-center material-icons">favorite</i></span>
        <span class="d-inline-flex" title="{topicEmbed.posts_count - 1} réponse(s)">{topicEmbed.posts_count - 1} <i class="align-self-center material-icons">reply</i></span>
      </div>
      <a class="card-link" href="{urlResolve(config.apiUrl, `/t/${topicEmbed.slug}/${topicEmbed.id}`)}">En savoir plus</a>
    </div>
  </div>
</article>

<style type="text/scss">
  .image {
    max-height: 240px;
    object-fit: contain;
  }
</style>

<script>
  import urlResolve from "url-resolve"
  import config from "../config.js"

  export default {
    helpers: {
      backgroundImage: url => `background-image: url('${url}');`,
      config,
      urlResolve,
    },
  }
</script>